pyppeteerport.code-workspace
node_modules/
**/creds.js
.vs/**
*.txt
.txt
trash/
**.vs/
*vcxproj*
*.sln
Projects/*/Dailychecks/*
data/*
*.code-workspace
Documentation/mdworkspace.mdproj
**.pyc
env/__pycache__/**
**/Scripts
**.h
**/lib